@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;

  /* nav/header */
  --nav-surface: #ffffff;
  --nav-border: #e2e8f0;
  --nav-text: #1e293b;
  --nav-text-subtle: #94a3b8;
  --nav-item-hover: #f1f5f9;
  --nav-item-active: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* nav/header */
  --color-nav-surface: var(--nav-surface);
  --color-nav-border: var(--nav-border);
  --color-nav-text: var(--nav-text);
  --color-nav-text-subtle: var(--nav-text-subtle);
  --color-nav-item-hover: var(--nav-item-hover);
  --color-nav-item-active: var(--nav-item-active);
}

/* Commenting out dark theme, can be added later */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@utility bg-grid {
  background-image: radial-gradient(
    circle,
    rgb(128 128 128 / 0.4) 1px,
    transparent 1px
  );
  background-size: 40px 40px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
